<manifest xmlns:android="http://schemas.android.com/apk/res/android"
xmlns:tools="http://schemas.android.com/tools"

  package="com.card">

    <uses-permission android:name="android.permission.INTERNET" />
   <permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
        </intent>
    </queries>
    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      tools:replace="android:theme"
      tools:node="replace"
      android:theme="@style/AppTheme"
        >
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
        android:launchMode="singleTask"
          android:exported="true"
        android:windowSoftInputMode="adjustResize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
<!--        android:exported="false"-->

<!--       <activity-->
<!--        android:name="io.card91.android.sdk.ui.verification.C91VerifyMobileScreen"-->
<!--        android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"-->
<!--        android:windowSoftInputMode="adjustResize"-->
<!--         >-->


        <activity
            android:name="io.card91.android.sdk.ui.new_flow_v1.V1ResetAtmPinActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="io.card91.android.sdk.ui.new_flow_v1.V1MPinActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="io.card91.android.sdk.ui.new_flow_v1.V1ErrorInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="io.card91.android.sdk.ui.new_flow_v1.V1DashboardActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="io.card91.android.sdk.ui.home.HomeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="io.card91.android.sdk.ui.login_signup.AuthActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="io.card91.android.sdk.ui.kyc.KycMobileNumberRegistration"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="io.card91.android.sdk.ui.kyc.KycInfo"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="io.card91.android.sdk.ui.change_pin.UpdateMPinScreen"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="io.card91.android.sdk.ui.forgot_password.ForgotPasswordOtpVerification"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="io.card91.android.sdk.ui.verification.C91VerifyMobileScreen"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
            android:windowSoftInputMode="adjustResize" />

</application>
</manifest>
